.navbar {
  width: 100%;
  background-color: orange;
  overflow: auto;
}

.navbar a {
  float: left;
  text-align: center;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #000;
}

.active {
  background-color: black;
}

.topnav-right{
  float: right;
}

.logo img{
  float: left;
  width: 80px;
  height: auto;
  margin-top: 3px;
  margin-left: 3px;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}

.center{
  display: block;
  margin-left: 250px;
  margin-right: auto;
  width: 50%;
  height: 500px;
}

.slider{
  width: 1200px;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
}

.slides{
  width: 500%;
  height: 500px;
  display: flex;
  margin-top: 100px;
}

.slides input{
  display: none;
}

.slide{
  width: 20%;
  transition: 2s;
}

.slide img{
  width: 800px;
  height: 500px;
}

/*css for manual slide navigation*/
.navigation-manual{
  position: absolute;
  width: 800px;
  margin-top: -150px;
  margin-left: 250px;
  display: flex;
  justify-content: center;
}

.manual-btn{
  border: 2px solid #40D3DC;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child){
  margin-right: 40px;
}

.manual-btn:hover{
  background: #40D3DC;
}

#radio1:checked ~ .first{
  margin-left: 0;
}

#radio2:checked ~ .first{
  margin-left: -20%;
}

#radio3:checked ~ .first{
  margin-left: -40%;
}

#radio4:checked ~ .first{
  margin-left: -60%;
}

#radio5:checked ~ .first{
  margin-left: -80%;
}

/*css for automatic navigation*/
.navigation-auto{
  position: absolute;
  display: flex;
  width: 800px;
  justify-content: center;
  margin-top: 350px;
  margin-left: 250px;
}

.navigation-auto div{
  border: 2px solid #40D3DC;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.navigation-auto div:not(:last-child){
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
  background: #40D3DC;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
  background: #40D3DC;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
  background: #40D3DC;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
  background: #40D3DC;
}

#radio5:checked ~ .navigation-auto .auto-btn5{
  background: #40D3DC;
}

.para{
  background-color: orange;
  justify-content: center;
  text-align: justify;
  font-size: 110%;
  font-family: cursive;
}

.footer{
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a{
  height: 70px;
  width: 70px;
  background-color: #f5f6fa;
  border-radius: 50px;
  text-align: center;
  margin: 10px;
  line-height: 90px;
  box-shadow: 1px 4px 2px 2px #dcdde1;
}

.footer a i{
  transition: all 0.3s linear;
}

.footer a:hover i{
  transform: scale(1.4);
}

.fa-instagram{
  color: #e84393;
}

.fa-youtube{
  color: #e84118;
}

.fa-linkedin{
  color: #0097e6;
}